<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="left" th:fragment="nav">
    <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
    <nav>
        <ul class="list">
            <li ><a href="/document/selectAllDocument">文档管理</a></li>
            <li><a href="/class/queryAllClass?flag=1">文档类别管理</a></li>
            <li><a href="/user/selectAllUser">用户管理</a></li>
            <li><a href="password.html">密码修改</a></li>
            <li><a href="login.html">退出系统</a></li>
        </ul>
    </nav>
</div>

<header class="publicHeader" th:fragment="header">
    <h1>超市账单管理系统</h1>

    <div class="publicHeaderR">
        <p><span>下午好！</span><span style="color: #fff21b" th:text="${session.user.managerName}"></span> , 欢迎你！</p>
        <a href="/manager-login">退出</a>
    </div>
</header>
</body>
</html>