<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="left" th:fragment="nav">
    <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
    <nav>
        <ul class="list">
            <li ><a href="/class/queryAllClass">文档管理</a></li>
            <li><a href="/class/queryAllClass?flag=1">文档类别管理</a></li>
            <li><a href="userList.html">用户管理</a></li>
            <li><a href="password.html">密码修改</a></li>
            <li><a href="login.html">退出系统</a></li>
        </ul>
    </nav>
</div>
</body>
</html>