<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>企业文档管理后台</title>
    <link rel="stylesheet" href="../backstage/css/public.css"/>
    <link rel="stylesheet" href="../backstage/css/style.css"/>
</head>
<body>
<!--头部-->
<div th:replace="/backstage/commons/bar::header"></div>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div th:replace="/backstage/commons/bar::nav"></div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>文档管理页面</span>
            </div>
            <div class="search">
                <form action="/document/queryByDocumentName" name="form">
                <span>文档名称：</span>
                <input type="text" placeholder="请输入文档的名称或内容" name="documentName"/>

                <input type="button" value="查询" style="cursor: pointer" onclick="document.form.submit()"/>

<!--                <a href="billAdd.html">添加文档</a>-->
                </form>
            </div>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">文档编号</th>
                    <th width="20%">文档名称</th>
                    <th width="10%">上传者</th>
                    <th width="15%">附件</th>
                    <th width="15%">更新时间</th>
                    <th width="30%">操作</th>
                </tr>
                <tr th:each="document: ${documents}">
                    <td th:text="${document.documentId}"></td>
                    <td th:text="${document.documentName}"></td>
                    <td th:text="${document.userName}"></td>
                    <td><a th:href="${document.documentUrl}">预览附件</a></td>
                    <td th:text="${document.updateTime}"></td>
                    <td>
                        <a th:href="@{'/viewOneDocument?documentId='+${document.documentId}}"><img src="../backstage/img/read.png" alt="查看" title="查看"/></a>
                        <!--<a href="billUpdate.html"><img src="../backstage/img/xiugai.png" alt="修改" title="修改"/></a>-->
                        <a href="#" class="removeBill" th:id="${document.documentId}"><img src="../backstage/img/schu.png" alt="删除" title="删除"/></a>
                    </td>
                </tr>
            </table>
        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeBi">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该文档吗？</p>
            <a href="#" id="yes">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>

    <footer class="footer">
    </footer>

<script src="../backstage/js/jquery.js"></script>
<script src="../backstage/js/js.js"></script>
<script src="../backstage/js/time.js"></script>

</body>
</html>