<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>企业文档管理后台</title>
    <link rel="stylesheet" href="../backstage/css/public.css"/>
    <link rel="stylesheet" href="../backstage/css/style.css"/>
</head>
<body>
<!--头部-->
<div th:replace="/backstage/commons/bar::header"></div>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div th:replace="/backstage/commons/bar::nav"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>文档管理页面  >>  文档信息查看</span>
        </div>
        <div class="providerView">
            <p><strong>用户名称：</strong><span th:text="${document.userName}">231</span></p>
            <p><strong>文档编号：</strong><span th:text="${document.documentId}">123</span></p>
            <p><strong>文档名称：</strong><span th:text="${document.documentName}">北极</span></p>
            <p><strong>文档链接：</strong><span th:text="${document.documentUrl}">22</span></p>
            <p><strong>更新时间：</strong><span th:text="${document.updateTime}">22</span></p>
            <p><strong>类别编号：</strong><span th:text="${document.classId}">描述</span></p>
            <p><strong>文档内容：<br/>
            </strong><span><textarea readonly th:text="${document.doucument}" style="width: 900px;height: 300px">未付款</textarea></span></p>
            <a href="document/selectAllDocument">返回</a>
        </div>
    </div>
</section>
<footer class="footer">
</footer>
<script src="../backstage/js/time.js"></script>

</body>
</html>