<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>企业文档管理后台</title>
    <link rel="stylesheet" href="../backstage/css/public.css"/>
    <link rel="stylesheet" href="../backstage/css/style.css"/>
</head>
<body>
<!--头部-->
<div th:replace="/backstage/commons/bar::header"></div>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div th:replace="/backstage/commons/bar::nav"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>供应商管理页面 >> 供应商添加页面</span>
        </div>
        <div class="providerAdd">
            <form th:action="@{'/class/insertClass'}" name="form">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div class="">
                    <label for="className">类别名称：</label>
                    <input type="text" name="className" id="className"/>
                    <span>*请输入类别名称</span>
                </div>
                <div>
                    <label >所属类别：</label>
                    <select name="fatherId">
                        <option th:value="${classp.classId}" th:each="classp: ${classes}" th:text="${classp.className}"></option>
                    </select>
                    <span >*请选择所属类别</span>
                </div>
                <br>
                <br>
                <div class="providerAddBtn">
                    <!--<a href="#">保存</a>-->
                    <!--<a href="providerList.html">返回</a>-->
                    <input type="button" value="保存" onclick="document.form.submit()"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="../backstage/js/time.js"></script>

</body>
</html>