<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>企业文档管理后台</title>
    <link rel="stylesheet" href="../backstage/css/public.css"/>
    <link rel="stylesheet" href="../backstage/css/style.css"/>
</head>
<body>
<!--头部-->
<div th:replace="/backstage/commons/bar::header"></div>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div th:replace="/backstage/commons/bar::nav"></div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>用户管理页面</span>
            </div>
            <div class="search">
                <span>用户名：</span>
                <input type="text" placeholder="请输入用户名"/>
                <input type="button" value="查询"/>
            </div>
            <!--用户-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
                <tr class="firstTr">
                    <th width="10%">用户编码</th>
                    <th width="10%">用户名称</th>
                    <th width="15%">创建日期</th>
                    <th width="15%">邮箱</th>
                    <th width="10%">电话</th>
                    <th width="10%">角色</th>
                    <th width="10%">部门</th>
                    <th width="20%">操作</th>
                </tr>
                <tr th:each="user: ${userList}">
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.createTime}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phone}"></td>
                    <td th:text="${user.roleName}"></td>
                    <td th:text="${user.departmentName}"></td>
                    <td>
                        <a href="userView.html"><img src="../backstage/img/read.png" alt="查看" title="查看"/></a>
                        <a th:href="@{'/user/update?userId='+${user.userId}+'&userName='+${user.userName}}"><img src="../backstage/img/xiugai.png" alt="修改" title="修改"/></a>
                        <a href="#" class="removeUser"><img src="../backstage/img/schu.png" alt="删除" title="删除"/></a>
                    </td>
                </tr>
            </table>

        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeUse">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该用户吗？</p>
            <a href="#" id="yes">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>

    <footer class="footer">
    </footer>

<script src="../backstage/js/jquery.js"></script>
<script src="../backstage/js/js.js"></script>
<script src="../backstage/js/time.js"></script>

</body>
</html>