<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>企业文档管理后台</title>
    <link rel="stylesheet" href="../backstage/css/public.css"/>
    <link rel="stylesheet" href="../backstage/css/style.css"/>
</head>
<body>
<!--头部-->
<div th:replace="/backstage/commons/bar::header"></div>
<!--时间-->
<section class="publicTime">
    <span id="time">2015年1月1日 11:11  星期一</span>
    <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
</section>
<!--主体内容-->
<section class="publicMian ">
    <div th:replace="/backstage/commons/bar::nav"></div>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>用户管理页面 >> 用户权限修改页面</span>
        </div>
        <div class="providerAdd">
            <form th:action="@{'/user/updateUserRoleAndDepartment?userId='}" name="form">
                <!--div的class 为error是验证错误，ok是验证成功-->
                <div>
                    <label for="userId">用户编号：</label>
                    <input type="text" name="userId" id="userId" th:value="${user.userId}" readonly/>
                    <span >*</span>
                </div>
                <div>
                    <label for="username">用户昵称：</label>
                    <input type="text" name="username" id="username" th:value="${user.userName}" disabled/>
                    <span >*</span>
                </div>
                <div>
                    <label >用户部门：</label>

                    <select name="departmentId">
                        <option th:value="${department.departmentId}" th:each="department: ${departments}" th:text="${department.departmentName}">男</option>
                    </select>
                </div>
                <div>
                    <label >用户角色：</label>
                    <input type="radio" name="roleId" checked value="3"/>部门员工
                    <input type="radio" name="roleId" value="2"/>部门经理
                    <input type="radio" name="roleId" value="1"/>总经理

                </div>
                <div class="providerAddBtn">
                    <input type="button" value="保存" onclick="document.form.submit()"/>
                    <input type="button" value="返回" onclick="history.back(-1)"/>
                </div>
            </form>
        </div>

    </div>
</section>
<footer class="footer">
</footer>
<script src="../backstage/js/time.js"></script>

</body>
</html>