 <!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SimDash : Basic Form </title>
	
	<!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon--> 
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon--> 
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
	
	<!-- Styles -->
    <link href="../index/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="../index/css/lib/themify-icons.css" rel="stylesheet">
    <link href="../index/css/lib/mmc-chat.css" rel="stylesheet" />
    <link href="../index/css/lib/sidebar.css" rel="stylesheet">
    <link href="../index/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="../index/css/lib/simdahs.css" rel="stylesheet">
    <link href="../index/css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="/index/commons/bar::leftSide"></div>
<!-- /# sidebar -->
    <div th:replace="/index/commons/bar::head"></div>

	<div class="chat-sidebar">
        <!-- BEGIN chat -->
        <div id="mmc-chat" class="color-default">
            <!-- BEGIN CHAT BOX -->
            <div class="chat-box">
                <!-- BEGIN CHAT BOXS -->
                <ul class="boxs"></ul>
                <!-- END CHAT BOXS -->
                <div class="icons-set">
                    <div class="stickers">
                        <div class="had-container">
                            <div class="row">
                                <div class="s12">
                                    <ul class="tabs" style="width: 100%;height: 60px;">
                                        <li class="tab col s3">
                                            <a href="#tab1" class="active">
                                                <img src="../index/images/1.png" alt="" />
                                            </a>
                                        </li>
                                        <li class="tab col s3"><a href="#tab2">Test 2</a></li>
                                    </ul>
                                </div>
                                <div id="tab1" class="s12 tab-content">
                                    <ul>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                        <li><img src="../index/images/1.png" alt="" /></li>
                                    </ul>
                                </div>
                                <div id="tab2" class="s12 tab-content">Test 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CHAT BOX -->
            <!-- BEGIN SIDEBAR -->
            <div id="sidebar" class="right scroll">
                <div class="had-container">
                    <!-- BEGIN USERS -->
                    <div class="users">

                        <ul class="user-list">
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="1" data-status="online" data-username="Rufat Askerov" data-position="left" data-filter-item data-filter-name="rufat askerov">
                                <!-- BEGIN USER IMAGE-->
                                <div class="user-image">
                                    <img src="../index/images/avatar/1.jpg" class="avatar" alt="Rufat Askerov" />
                                </div>
                                <!-- END USER IMAGE-->
                                <!-- BEGIN USERNAME-->
                                <span class="user-name">Rufat Askerov</span>
								<span class="user-show"></span>
                                <!-- END USERNAME-->
                            </li>
                            <!-- END USER-->
                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="3" data-status="online" data-username="Alice" data-position="left" data-filter-item data-filter-name="alice">
                                <div class="user-image">
                                    <img src="../index//images/avatar/1.jpg" class="avatar" alt="Alice" />
                                </div>
                                <span class="user-name">Alice</span>
								<span class="user-show"></span>
                            </li>

                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="7" data-status="offline" data-username="Michael Scofield" data-position="left" data-filter-item data-filter-name="michael scofield">
                                <div class="user-image">
                                    <img src="../index//images/avatar/1.jpg" class="avatar" alt="Michael Scofield" />
                                </div>
                                <span class="user-name">Michael Scofield</span>
								<span class="user-show"></span>
                            </li>

                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="5" data-status="online" data-username="Irina Shayk" data-position="left" data-filter-item data-filter-name="irina shayk">
                                <div class="user-image">
                                    <img src="../index//images/avatar/1.jpg" class="avatar" alt="Irina Shayk" />
                                </div>
                                <span class="user-name">Irina Shayk</span>
								<span class="user-show"></span>
                            </li>

                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="6" data-status="offline" data-username="Sara Tancredi" data-position="left" data-filter-item data-filter-name="sara tancredi">
                                <div class="user-image">
                                    <img src="../index//images/avatar/1.jpg" class="avatar" alt="Sara Tancredi" />
                                </div>
                                <span class="user-name">Sara Tancredi</span>
								<span class="user-show"></span>
                            </li>

                            <!-- BEGIN USER-->
                            <li class="user-tooltip" data-id="7" data-status="offline" data-username="Wolf" data-position="left" data-filter-item data-filter-name="Wolf">
                                <div class="user-image">
                                    <img src="../index//images/avatar/1.jpg" class="avatar" alt="Wolf" />
                                </div>
                                <span class="user-name">Wolf</span>
								<span class="user-show"></span>
                            </li>
                        </ul>
						<div class="chat-user-search">
							<div class="input-group">
								<span class="input-group-addon"><i class="ti-search"></i></span>
								<input type="text" class="form-control" placeholder="Search"  data-search />
							</div>
						</div>
                    </div>
                    <!-- END USERS -->

                </div>
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END chat -->
    </div>
    <!-- END chat Sidebar-->

    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>企业文档管理系统</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 p-0">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">上传文档</a></li>
                                    <li class="active">Basic Form</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content">
                    <!-- /# row -->
					<!-- /# row -->
					<!-- /# row -->
					<div class="row">
                        <div class="col-lg-12">
                            <div class="card alert">
                                <div class="card-header">
                                    <h4>上传文档</h4>
                                    <div class="card-header-right-icon">
                                        <ul>
                                            <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                            <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="basic-elements">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form method="post" action="/document/insertDocument">
                                                    <div class="form-group">
                                                        <label>文档名称</label>
                                                        <input type="text" class="form-control" placeholder="Some text value..." name="documentName">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>文档类别</label>
                                                        <select class="form-control" name="classId">
                                                            <div th:each="classes: ${classResult}">
                                                                <option th:each="child: ${classes.childClass}" th:text="${child.className}" th:value="${child.classId}">1</option>
                                                            </div>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>文档内容</label>
                                                        <textarea class="form-control" rows="3" placeholder="Text input" name="doucument"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>上传者</label>
                                                        <input class="form-control" type="text" th:value="${session.user.userName}" readonly>
                                                        <input type="hidden" th:value="${session.user.userId}" name="userId">
                                                        <input th:if="${!#strings.isEmpty(url)}" th:value="${url}" type="hidden" class="form-control" name="documentUrl">
                                                    </div>
                                                        <button type="submit" class="btn btn-default">提交</button>
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <form method="POST" action="/document/upload" enctype="multipart/form-data" name="fileForm">
                                                        <div class="form-group">
                                                            <label>上传附件</label>
                                                            <input name="uploadFile" id="file" class="form-control" type="file" accept=".pdf" multiple>
                                                            <span th:if="${!#strings.isEmpty(url)}" style="color: red;">上传成功,请重新输入文档信息!</span>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </div><!-- /# column -->
                        <!-- /# column -->
					</div><!-- /# row -->     </div>
     <!-- /# main content -->More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            </div><!-- /# container-fluid -->
        </div><!-- /# main -->
    </div><!-- /# content wrap -->







    <script src="../index/js/lib/jquery.min.js"></script><!-- jquery vendor -->
    <script src="../index/js/lib/jquery.nanoscroller.min.js"></script><!-- nano scroller -->
    <script src="../index/js/lib/sidebar.js"></script><!-- sidebar -->
    <script src="../index/js/lib/bootstrap.min.js"></script><!-- bootstrap -->
    <script src="../index/js/lib/mmc-common.js"></script>
    <script src="../index/js/lib/mmc-chat.js"></script>
    <script src="../index/js/scripts.js"></script><!-- scripit init-->


    


</body>

</html>